In [1]:
import pandas as pd
print(pd.__version__)

1.1.3

In [2]:
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Series

population_dict = {
    'California':654653,
    'Texas':345543,
    'NYC':64635
}
print(population_dict)
print(type(population_dict))

{'California': 654653, 'Texas': 345543, 'NYC': 64635}
<class 'dict'>

In [6]:
population = pd.Series(population_dict)
population

California    654653
Texas         345543
NYC            64635
dtype: int64

In [7]:
type(population)

pandas.core.series.Series

In [8]:
population['California']

654653

In [9]:
population['NYC']

64635

pd.Series(data, index )

In [11]:
s = pd.Series( [10,20,30] )
s

0    10
1    20
2    30
dtype: int64

In [12]:
s[0]

10

In [13]:
s = pd.Series( [10,20,30], index=[500,600,700] )
s

500    10
600    20
700    30
dtype: int64

In [14]:
s[600]

20

In [15]:
s = pd.Series( [10,20,30], index=["Darshan","LU","Jyotsna"] )
s

Darshan    10
LU         20
Jyotsna    30
dtype: int64

In [16]:
s['Darshan']

10

In [18]:
s[0]

10

In [20]:
s = pd.Series( 65, index=["Darshan","LU","Jyotsna"] )
s

Darshan    65
LU         65
Jyotsna    65
dtype: int64

In [21]:
s = pd.Series( (10,20,30), index=[500,600,700] )
s

500    10
600    20
700    30
dtype: int64

In [22]:
s = pd.Series( (10,20.,30), index=[500,600,700] )
s

500    10.0
600    20.0
700    30.0
dtype: float64

In [24]:
s = pd.Series( {10:'A', 20:'B', 30:'V'} )
s

10    A
20    B
30    V
dtype: object

In [25]:
s = pd.Series( {10:'A', 20:'B', 30:'V'}, index=[10,30] )
s

10    A
30    V
dtype: object

In [27]:
s = pd.Series( (10,20,30), index=[44,54,44] )
s

44    10
54    20
44    30
dtype: int64

In [28]:
s[44]

44    10
44    30
dtype: int64

In [26]:
# DataFrame: 2D

population # Series

California    654653
Texas         345543
NYC            64635
dtype: int64

In [29]:
type(population)

pandas.core.series.Series

In [30]:
df = pd.DataFrame(population)
df

                 0
California  654653
Texas       345543
NYC          64635

pd.DataFrame(data, index, columns)

In [32]:
pd.DataFrame([10,20,30], index=[1,2,3])

    0
1  10
2  20
3  30

In [34]:
pd.DataFrame([[10,20,30]], index=[1,2,3])

    0   1   2
1  10  20  30
2  10  20  30
3  10  20  30

In [35]:
pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]], index=[1,2,3])

    0   1   2
1  10  20  30
2  40  50  60
3  70  80  90

In [43]:
df = pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]], index=[1,2,3], columns=['C1','C2','C3'])
df

   C1  C2  C3
1  10  20  30
2  40  50  60
3  70  80  90

In [44]:
df.columns

Index(['C1', 'C2', 'C3'], dtype='object')

In [45]:
list(df.columns)

['C1', 'C2', 'C3']

In [46]:
df.index

Int64Index([1, 2, 3], dtype='int64')

In [47]:
list(df.index)

[1, 2, 3]

In [48]:
df

   C1  C2  C3
1  10  20  30
2  40  50  60
3  70  80  90

In [52]:
x = df.reset_index()
x

   index  C1  C2  C3
0      1  10  20  30
1      2  40  50  60
2      3  70  80  90

In [54]:
x.columns = ['C1', 'C2', 'C3', 'C4']
x

   C1  C2  C3  C4
0   1  10  20  30
1   2  40  50  60
2   3  70  80  90

In [60]:
x.set_index('C2')

    C1  C3  C4
C2
10   1  20  30
40   2  50  60
70   3  80  90

In [38]:
df.shape # shape is an attribute

(3, 3)

In [39]:
population # Series

California    654653
Texas         345543
NYC            64635
dtype: int64

In [40]:
population.shape

(3,)

In [42]:
pd.DataFrame(population, columns=['Population'])

            Population
California      654653
Texas           345543
NYC              64635

# Indexers: loc and iloc

In [61]:
data = pd.Series( ['a','b','c'], index=[1,3,5] )
data

1    a
3    b
5    c
dtype: object

In [63]:
# Indexing -> Pandas uses Explicit Index
data[1]

'a'

In [64]:
# Slicing -> Pandas uses Implicit Index
data[1:3]

3    b
5    c
dtype: object

In [65]:
data.loc[1]

'a'

In [66]:
data.iloc[1]

'b'

In [67]:
data.iloc[1:3] # 1 to (3-1) i.e. Implicit Indexing

3    b
5    c
dtype: object

In [68]:
data.loc[1:3] # 1 to 3, inclusive of 3 i.e. Explicit Indexing

1    a
3    b
dtype: object