![Image of LetsUpgrade](https://media-exp1.licdn.com/dms/image/C511BAQHd9Z1TO0t-0A/company-background_10000/0?e=2159024400&v=beta&t=t5kx7AY2sqMmoMcv_lnr6cDWkd65C1l01I-DXH7iNs8)

# Day 1

# Connect me@

# https://www.linkedin.com/in/dr-darshan-ingle-corporate-trainer/

In [1]:
1+1

2

In [2]:
2*8

16

In [3]:
2**3

8

In [5]:
2/7

0.2857142857142857

In [6]:
5+5

10

Hey All

Welcome to the LU DS Essentials Batch 2

This is a Notepad file

There are many ways top execute Python programs. Some of them are:

1. Python IDLE

2. Jupyter Notebook

3. Spyder

# Hey All

## Welcome to the LU DS Essentials Batch 2

This is a __Notepad file__

There are many ways top execute Python programs. Some of them are:

>1. Python IDLE

>2. Jupyter Notebook

>3. Spyder

https://medium.com/@ingeh/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

In [7]:
print("Hi Learners")

Hi Learners

In [11]:
print("LU \nLearners")
print("My name is:\tDr. Darshan Ingle")

LU
Learners
My name is:	Dr. Darshan Ingle

In [12]:
print('LU \nLearners')

LU
Learners

In [34]:
# Program to perform addition of two nos

a = 1
b = 2
c = a+b
print("c")
print(c)
print("Addition=",c)
print("Addition of a=",a,"and b=",b,"is c=",c,".")

c
3
Addition= 3
Addition of a= 1 and b= 2 is c= 3 .

In [37]:
a = 10
print(a)
print( type(a) )

10
<class 'int'>

In [38]:
a = 10.5
print(a)
print( type(a) )

10.5
<class 'float'>

In [39]:
type(10.5)

float

In [40]:
type("Darshan")

str

In [41]:
type(True)

bool

In [42]:
type(False)

bool

In [43]:
type(2+3j)

complex

In [44]:
a = 2+3j
b = 3-8j
print(a+b)

(5-5j)

In [48]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [49]:
len(keyword.kwlist)

35

# Operators

Arithhmetic

+
-
*
/
// Floor Division
% Modulo
** Exponentiation

In [54]:
print(2+3)
print(2-3)
print(2*3)
print(20/3)
print(20%3)
print(20//3)
print(2**3)

5
-1
6
6.666666666666667
2
6
8

# Relational

<
<=
>
>=
==
!=

In [58]:
print(2<3)
print(2>3)
print(2==3)
print(3==3)
print(3!=3)

True
False
False
True
False

In [59]:
a = 2<3
print(a)

True

# Membership Operator

in

not in

In [60]:
'a' in "Darshan"

True

In [61]:
'd' in "Darshan"

False

In [62]:
'a' not in "Darshan"

False

In [66]:
# Identity: gives the address of the variable

a= 12
print(a)
print(id(a))
b = 13
print(id(b))

12
140703138719872
140703138719904

In [69]:
x = 5
print(id(x))
y = 5
print(id(y))
y = 10
print(id(y))
print(id(x))

140703138719648
140703138719648
140703138719808
140703138719648

Precedence:

PEMDAS

Parenthesis
Exponentiation
M D Mult Div
A S Add Sub

In [70]:
1+2**3/5

2.6

In [71]:
1+2**3/5/6*5-2*7**3

-683.6666666666666

# Conditional Statements

if

elif

else

In [73]:
%23*5

1

In [77]:
x = 5
if x==5:
    print("Condition statisfied")
    print("I am happy to be executed")
print("I will always be printed")

Condition statisfied
I am happy to be executed
I will always be printed

In [80]:
x = 15
if x<12:
    print("x<12")
else:
    print("x>=12")
print("I will always be printed")

x>=12
I will always be printed

In [81]:
x = 35
if x>35:
    print("x>35")
elif x<35:
    print("x<35")
else:
    print("x=35")

x=35

# Input in Python

input()

In [90]:
x = input()
print("Entered data is:",x)
print("type(x):",type(x))

2+33j
Entered data is: 2+33j
type(x): <class 'str'>

In [94]:
a = input()
a = int(a)
b = input()
b = int(b)
print("Addition=",a+b)

10
60
Addition= 70

In [96]:
a = int(input("Enter 1st no:"))
b = int(input("Enter 2nd no:"))
print("Addition=",a+b)

Enter 1st no:60
Enter 2nd no:10
Addition= 70

In [100]:
# Python is a Dynamic typed language

a = 2+3j
print(type(a))

<class 'complex'>

In [101]:
1+2+3

6

# Day 2

In [6]:
l = [ 10, 1.45, "Darshan", 2+3j, True ]
print(l)
print(type(l))
print(l[2])

[10, 1.45, 'Darshan', (2+3j), True]
<class 'list'>
Darshan

# Loops

>for loop

>while loop

In [16]:
# for loop

l = [10, 20, 30, 40,50]

for i in l:
    print(i,end=" ")

10 20 30 40 50

In [18]:
# for loop

l = "Hello LetsUpgrade"

for i in l:
    print(i,end="")

Hello LetsUpgrade

In [20]:
# while loop

i = 1 # initialization
while i <= 5:
    print(i, end=" ")
    i = i+1

1 2 3 4 5

In [23]:
# range()

for i in range(15):
    print(i,end=' | ')

0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 |

In [25]:
# range()

for i in range(10,15):
    print(i,end=' | ')

10 | 11 | 12 | 13 | 14 |

In [28]:
# range()

for i in range(10,17,2):
    print(i,end=' | ')

10 | 12 | 14 | 16 |

In [29]:
# range()

for i in range(10,17,3):
    print(i,end=' | ')

10 | 13 | 16 |

In [30]:
# range()

for i in range(10,17,4):
    print(i,end=' | ')

10 | 14 |

# Functions

> Built-in Functions: print(), type(), input(), int()

>User Defined Functions

In [33]:
# User Defined Functions

def greet():
    print("Hello Darshan")
    
greet()
print("Back from function")

Hello Darshan
Back from function

In [36]:
# Create a function to add two numbers

def addnos(no1, no2):
    result = no1+no2
    print(result)
    
addnos(2,5)
addnos(12,13)

7
25

In [38]:
# Create a function to add two numbers

def addnos(no1, no2):
    result = no1+no2
    print(result)
    
a = int(input("Enter 1st no:"))
b = int(input("Enter 2nd no:"))
addnos(a,b)

Enter 1st no:100
Enter 2nd no:400
500

In [47]:
# Create a function to add two numbers

def addnos(no1=100, no2=50):
    result = no1+no2
    print(result)
    
addnos(int(input("Enter 1st no:")),int(input("Enter 2nd no:")))

Enter 1st no:12
Enter 2nd no:13
25

In [48]:
addnos()

150

# String

In [57]:
s = "Darshan"
print(s)
print(type(s))
print(s[0]) # for indexing, always use []
print(s[5])
print(s[-1])
print(s[-6])
print(s[-6]==s[1])
# Slicing s[start_index, end_index] - It will fetch records from 
# start_index to (end_index - 1)
print(s[1:5]) # 1 to (5-1)
print(s[:5]) # 0 to (5-1)
print(s[1:]) # 1 to end

Darshan
<class 'str'>
D
a
n
a
True
arsh
Darsh
arshan

In [88]:
# String Functions

s = "Darshan"
t = "an Apple a Day keePS the doCTor AwaY"
n = "  Lets Upgrade   "
print(t.capitalize())
print(s.lower())
print(s.upper())
print(s.count('a'))
print(t.count('a'))
print(t.count('A'))
print(n)
print(n.strip())
print(n.lstrip())
print(n.rstrip())
print(s)
print(s.replace('a','x'))
print(s)
print(list(s))
print(t)
print(t.swapcase())

An apple a day keeps the doctor away
darshan
DARSHAN
2
4
2
  Lets Upgrade
Lets Upgrade
Lets Upgrade
  Lets Upgrade
Darshan
Dxrshxn
Darshan
['D', 'a', 'r', 's', 'h', 'a', 'n']
an Apple a Day keePS the doCTor AwaY
AN aPPLE A dAY KEEps THE DOctOR aWAy

# List

It is a collection of dissimilar values.

It is stored in []

It is mutable i.e. Flexible

In [65]:
s = ['D', 'a', 'r', 's', 'h', 'a', 'n']
print(s)
print(type(s))
print(s[0]) # for indexing, always use []
print(s[5])
print(s[-1])
print(s[-6])
print(s[-6]==s[1])
# Slicing s[start_index, end_index] - It will fetch records from 
# start_index to (end_index - 1)
print(s[1:5]) # 1 to (5-1)
print(s[:5]) # 0 to (5-1)
print(s[1:]) # 1 to end

['D', 'a', 'r', 's', 'h', 'a', 'n']
<class 'list'>
D
a
n
a
True
['a', 'r', 's', 'h']
['D', 'a', 'r', 's', 'h']
['a', 'r', 's', 'h', 'a', 'n']

In [66]:
s = ['D', 58, 'LU', 2+3j, True, 45, 'n']
print(s)
print(type(s))
print(s[0]) # for indexing, always use []
print(s[5])
print(s[-1])
print(s[-6])
print(s[-6]==s[1])
# Slicing s[start_index, end_index] - It will fetch records from 
# start_index to (end_index - 1)
print(s[1:5]) # 1 to (5-1)
print(s[:5]) # 0 to (5-1)
print(s[1:]) # 1 to end

['D', 58, 'LU', (2+3j), True, 45, 'n']
<class 'list'>
D
45
n
58
True
[58, 'LU', (2+3j), True]
['D', 58, 'LU', (2+3j), True]
[58, 'LU', (2+3j), True, 45, 'n']

In [71]:
# List is mutable i.e. Flexible

l = [10,20,30,40,50]
print(l)
print(l[0])
l[0] = "Darshan"
print(l)
print(l[0])

[10, 20, 30, 40, 50]
10
['Darshan', 20, 30, 40, 50]
Darshan

# Tuple

It is a collection of dissimilar values.

It is stored in ()

It is Immutable i.e. Fixed

In [68]:
s = ('D', 'a', 'r', 's', 'h', 'a', 'n')
print(s)
print(type(s))
print(s[0]) # for indexing, always use []
print(s[5])
print(s[-1])
print(s[-6])
print(s[-6]==s[1])
# Slicing s[start_index, end_index] - It will fetch records from 
# start_index to (end_index - 1)
print(s[1:5]) # 1 to (5-1)
print(s[:5]) # 0 to (5-1)
print(s[1:]) # 1 to end

('D', 'a', 'r', 's', 'h', 'a', 'n')
<class 'tuple'>
D
a
n
a
True
('a', 'r', 's', 'h')
('D', 'a', 'r', 's', 'h')
('a', 'r', 's', 'h', 'a', 'n')

In [69]:
s = ('D', 58, 'LU', 2+3j, True, 45, 'n')
print(s)
print(type(s))
print(s[0]) # for indexing, always use []
print(s[5])
print(s[-1])
print(s[-6])
print(s[-6]==s[1])
# Slicing s[start_index, end_index] - It will fetch records from 
# start_index to (end_index - 1)
print(s[1:5]) # 1 to (5-1)
print(s[:5]) # 0 to (5-1)
print(s[1:]) # 1 to end

('D', 58, 'LU', (2+3j), True, 45, 'n')
<class 'tuple'>
D
45
n
58
True
(58, 'LU', (2+3j), True)
('D', 58, 'LU', (2+3j), True)
(58, 'LU', (2+3j), True, 45, 'n')

In [72]:
# Tuple is immutable i.e. Fixed

l = (10,20,30,40,50)
print(l)
print(l[0])
l[0] = "Darshan"
print(l)
print(l[0])

(10, 20, 30, 40, 50)
10

TypeError: 'tuple' object does not support item assignment

# Day 3

List Functions

Sets

Dictionary

In [24]:
# List Functions

l = [10,20,30,40,50,10,20,10,20,10,20,50,70]
print(l)
l.append(60)
print(l)
l.extend([999,555,444])
print(l)
print(l.count(20))
print(l.index(40))
print(l.index(20))
print(l.index(20,2))
l.remove(70)
print(l)
l.insert(1,45222)
print(l)
print(len(l))
l.reverse()
print(l)
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[10, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 70]
[10, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 70, 60]
[10, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 70, 60, 999, 555, 444]
4
3
1
6
[10, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 60, 999, 555, 444]
[10, 45222, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 60, 999, 555, 444]
17
[444, 555, 999, 60, 50, 20, 10, 20, 10, 20, 10, 50, 40, 30, 20, 45222, 10]
[10, 10, 10, 10, 20, 20, 20, 20, 30, 40, 50, 50, 60, 444, 555, 999, 45222]
[45222, 999, 555, 444, 60, 50, 50, 40, 30, 20, 20, 20, 20, 10, 10, 10, 10]

In [26]:
l = [10,20,30,40,50]
l.remove(20) # passed number 20 to be removed
print(l)
l.pop(2) # passed index position to be popped
print(l)

[10, 30, 40, 50]
[10, 30, 50]

In [5]:
# WAP to accept n numbers from the user and perform its addition.

l = []
n = int(input("How many numbers you want to insert: "))
for i in range(n):
    temp = float(input())
    l.append(temp)
print(l)
print(sum(l))

How many numbers you want to insert: 5
1
2
3
4
5
[1.0, 2.0, 3.0, 4.0, 5.0]
15.0

# Set

It is unordered and unindexed.

In [28]:
s = {10,20,30,40,50}
print(s)
print(type(s)) # unordered
print(s[1]) # unindexed

{40, 10, 50, 20, 30}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [29]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [30]:
thisset = {"apple", "banana", "cherry", "apple"}
# Sets are UNIQUE

print(thisset)

{'banana', 'apple', 'cherry'}

In [31]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [33]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("watermelon" in thisset)

True
False

In [34]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [41]:
thisset = {"apple", "banana", "orange", "cherry"}

l = list(thisset)
print(l)

['orange', 'banana', 'apple', 'cherry']

In [42]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'apple', 'pineapple', 'mango', 'cherry'}

In [43]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [45]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)
# Note: Sets are unordered, so when using the pop() method, you do not know
# which item that gets removed.

banana
{'apple', 'cherry'}

https://www.w3schools.com/python/python_sets.asp

# Dictionary

It is stored in the form { KEY : VALUE }

Keys are Fixed

Values are Mutable.

In [47]:
d = { 1:25000, 2:20000, 3:29000, 4:15000, 5:32000 }
print(d)
print(type(d))

{1: 25000, 2: 20000, 3: 29000, 4: 15000, 5: 32000}
<class 'dict'>

In [48]:
d = { 154:25000, 2:20000, 13:29000, 41:15000, 5:32000 }
print(d)
print(type(d))

{154: 25000, 2: 20000, 13: 29000, 41: 15000, 5: 32000}
<class 'dict'>

In [50]:
d = { 154:25000, 2:2000045, 13:29000, 41:15000, 5:32000 }
print(d)
print(type(d))

{154: 25000, 2: 2000045, 13: 29000, 41: 15000, 5: 32000}
<class 'dict'>

In [52]:
d = { 1.54:25000, 2.9:2000045, 13:29000, 41:15000, 5:32000 }
print(d)
print(type(d))

{1.54: 25000, 2.9: 2000045, 13: 29000, 41: 15000, 5: 32000}
<class 'dict'>

In [58]:
d = { 1.54:25000, 2.9:2000045, 'AM':29000, 41:15000, 5:32000 }
print(d)
print(type(d))
print(d[1.54])
print(d['AM'])
print(d[5])

{1.54: 25000, 2.9: 2000045, 'AM': 29000, 41: 15000, 5: 32000}
<class 'dict'>
25000
29000
32000

In [61]:
d = { 1.54:25000, 2.9:2000045, 'AM':29000, 41:15000, 5:32000, 2.9:'Darshan'}
print(d)

{1.54: 25000, 2.9: 'Darshan', 'AM': 29000, 41: 15000, 5: 32000}