# Day 3

List Functions

Sets

Dictionary

In [7]:
# List Functions

l = [10,20,30,40,50,10,20,10,20,10,20,50,70]
print(l)
l.append(60)   #insert 1 value at the end
print(l)
l.extend([999,555,444])   #insert multiple values at the end
print(l)
print(l.count(20))
print(l.index(40))
print(l.index(20))
print(l.index(20,2))
l.remove(70)
print(l)
l.insert(1,45222)    #insert value at any given location in list
print(l)
print(len(l))
l.reverse()
print(l)
l.sort()   #by default sorting in acsending order
print(l)
l.sort(reverse=True)  #sort in decsending order
print(l)

[10, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 70]
[10, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 70, 60]
[10, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 70, 60, 999, 555, 444]
4
3
1
6
[10, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 60, 999, 555, 444]
[10, 45222, 20, 30, 40, 50, 10, 20, 10, 20, 10, 20, 50, 60, 999, 555, 444]
17
[444, 555, 999, 60, 50, 20, 10, 20, 10, 20, 10, 50, 40, 30, 20, 45222, 10]
[10, 10, 10, 10, 20, 20, 20, 20, 30, 40, 50, 50, 60, 444, 555, 999, 45222]
[45222, 999, 555, 444, 60, 50, 50, 40, 30, 20, 20, 20, 20, 10, 10, 10, 10]

In [9]:
l = [10,20,30,40,50]
l.remove(20) # remove the exact given value
print(l)
l.pop(2) # remove a value at a given index location
print(l)

[10, 30, 40, 50]
[10, 30, 50]

In [12]:
# WAP to accept n numbers from the user and perform its addition.

l = []
n = int(input("How many numbers you want to insert: "))
for i in range(n):
    temp = float(input())
    l.append(temp)
print(l)
print(sum(l))

How many numbers you want to insert: 5
1
2
3
4
5
[1.0, 2.0, 3.0, 4.0, 5.0]
15.0

# Set

It is unordered and unindexed.

In [13]:
s = {10,20,30,40,50}
print(s)
print(type(s)) # unordered
#print(s[1]) # unindexed

{40, 10, 50, 20, 30}
<class 'set'>

In [29]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [30]:
# Sets are UNIQUE
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [31]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [14]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("watermelon" in thisset)

True
False

In [34]:
#add a value in set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [41]:
#convert set to list
thisset = {"apple", "banana", "orange", "cherry"}

l = list(thisset)
print(l)

['orange', 'banana', 'apple', 'cherry']

In [15]:
#add two sets
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'pineapple', 'cherry', 'banana', 'apple'}

In [16]:
#remove value from set
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [45]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)
# Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

banana
{'apple', 'cherry'}

https://www.w3schools.com/python/python_sets.asp

# Dictionary

It is stored in the form { KEY : VALUE }

Keys are Fixed

Values are Mutable(flexible).

In [47]:
d = { 1:25000, 2:20000, 3:29000, 4:15000, 5:32000 }
print(d)
print(type(d))

{1: 25000, 2: 20000, 3: 29000, 4: 15000, 5: 32000}
<class 'dict'>

In [48]:
d = { 154:25000, 2:20000, 13:29000, 41:15000, 5:32000 }
print(d)
print(type(d))

{154: 25000, 2: 20000, 13: 29000, 41: 15000, 5: 32000}
<class 'dict'>

In [50]:
d = { 154:25000, 2:2000045, 13:29000, 41:15000, 5:32000 }
print(d)
print(type(d))

{154: 25000, 2: 2000045, 13: 29000, 41: 15000, 5: 32000}
<class 'dict'>

In [52]:
d = { 1.54:25000, 2.9:2000045, 13:29000, 41:15000, 5:32000 }
print(d)
print(type(d))

{1.54: 25000, 2.9: 2000045, 13: 29000, 41: 15000, 5: 32000}
<class 'dict'>

In [58]:
d = { 1.54:25000, 2.9:2000045, 'AM':29000, 41:15000, 5:32000 }
print(d)
print(type(d))
print(d[1.54])
print(d['AM'])
print(d[5])

{1.54: 25000, 2.9: 2000045, 'AM': 29000, 41: 15000, 5: 32000}
<class 'dict'>
25000
29000
32000

In [61]:
d = { 1.54:25000, 2.9:2000045, 'AM':29000, 41:15000, 5:32000, 2.9:'Darshan'}
print(d)

{1.54: 25000, 2.9: 'Darshan', 'AM': 29000, 41: 15000, 5: 32000}